<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lloml.destinyrecruit.mapper.FireTeamUserMapper">
  <resultMap id="BaseResultMap" type="cn.lloml.destinyrecruit.domain.FireTeamUser">
    <!--@mbg.generated-->
    <!--@Table fire_team__user-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="fire_team_id" jdbcType="BIGINT" property="fireTeamId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="is_owner" jdbcType="TINYINT" property="owner" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, fire_team_id, user_id, is_owner
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from fire_team__user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from fire_team__user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.lloml.destinyrecruit.domain.FireTeamUser">
    <!--@mbg.generated-->
    insert into fire_team__user (id, fire_team_id, user_id, 
      is_owner)
    values (#{id,jdbcType=BIGINT}, #{fireTeamId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{owner,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.lloml.destinyrecruit.domain.FireTeamUser">
    <!--@mbg.generated-->
    insert into fire_team__user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fireTeamId != null">
        fire_team_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="owner != null">
        is_owner,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fireTeamId != null">
        #{fireTeamId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.lloml.destinyrecruit.domain.FireTeamUser">
    <!--@mbg.generated-->
    update fire_team__user
    <set>
      <if test="fireTeamId != null">
        fire_team_id = #{fireTeamId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="owner != null">
        is_owner = #{owner,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.lloml.destinyrecruit.domain.FireTeamUser">
    <!--@mbg.generated-->
    update fire_team__user
    set fire_team_id = #{fireTeamId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      is_owner = #{owner,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-09-20-->
  <select id="selectOneByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from fire_team__user
    where user_id=#{userId,jdbcType=BIGINT}
  </select>

<!--auto generated by MybatisCodeHelper on 2021-09-21-->
  <delete id="deleteByFireTeamId">
    delete from fire_team__user
    where fire_team_id=#{fireTeamId,jdbcType=BIGINT}
  </delete>

<!--auto generated by MybatisCodeHelper on 2021-09-21-->
  <update id="updateByUserIdAndFireTeamId">
    update fire_team__user
    <set>
      <if test="updated.id != null">
        id = #{updated.id,jdbcType=BIGINT},
      </if>
      <if test="updated.fireTeamId != null">
        fire_team_id = #{updated.fireTeamId,jdbcType=BIGINT},
      </if>
      <if test="updated.userId != null">
        user_id = #{updated.userId,jdbcType=BIGINT},
      </if>
      <if test="updated.owner != null">
        is_owner = #{updated.owner,jdbcType=TINYINT},
      </if>
    </set>
    where user_id=#{userId,jdbcType=BIGINT} and fire_team_id=#{fireTeamId,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-09-21-->
  <update id="updateOwnerByFireTeamIdAndUserId">
    update fire_team__user
    set is_owner=#{updatedOwner,jdbcType=TINYINT}
    where fire_team_id=#{fireTeamId,jdbcType=BIGINT} and user_id=#{userId,jdbcType=BIGINT}
  </update>
</mapper>