<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lloml.destinyrecruit.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.lloml.destinyrecruit.domain.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bungie_name" jdbcType="VARCHAR" property="bungieName" />
    <result column="destiny_membership_id" jdbcType="BIGINT" property="destinyMembershipId" />
    <result column="toekn" jdbcType="VARCHAR" property="toekn" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, bungie_name, destiny_membership_id, toekn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `user`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from `user`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.lloml.destinyrecruit.domain.User">
    <!--@mbg.generated-->
    insert into `user` (id, bungie_name, destiny_membership_id, 
      toekn)
    values (#{id,jdbcType=BIGINT}, #{bungieName,jdbcType=VARCHAR}, #{destinyMembershipId,jdbcType=BIGINT}, 
      #{toekn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.lloml.destinyrecruit.domain.User">
    <!--@mbg.generated-->
    insert into `user`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bungieName != null">
        bungie_name,
      </if>
      <if test="destinyMembershipId != null">
        destiny_membership_id,
      </if>
      <if test="toekn != null">
        toekn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bungieName != null">
        #{bungieName,jdbcType=VARCHAR},
      </if>
      <if test="destinyMembershipId != null">
        #{destinyMembershipId,jdbcType=BIGINT},
      </if>
      <if test="toekn != null">
        #{toekn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.lloml.destinyrecruit.domain.User">
    <!--@mbg.generated-->
    update `user`
    <set>
      <if test="bungieName != null">
        bungie_name = #{bungieName,jdbcType=VARCHAR},
      </if>
      <if test="destinyMembershipId != null">
        destiny_membership_id = #{destinyMembershipId,jdbcType=BIGINT},
      </if>
      <if test="toekn != null">
        toekn = #{toekn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.lloml.destinyrecruit.domain.User">
    <!--@mbg.generated-->
    update `user`
    set bungie_name = #{bungieName,jdbcType=VARCHAR},
      destiny_membership_id = #{destinyMembershipId,jdbcType=BIGINT},
      toekn = #{toekn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-09-17-->

    <!--auto generated by MybatisCodeHelper on 2021-09-17-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `user`
  </select>

<!--auto generated by MybatisCodeHelper on 2021-09-17-->
  <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user`
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=BIGINT}
            </if>
            <if test="bungieName != null">
                and bungie_name=#{bungieName,jdbcType=VARCHAR}
            </if>
            <if test="destinyMembershipId != null">
                and destiny_membership_id=#{destinyMembershipId,jdbcType=BIGINT}
            </if>
            <if test="toekn != null">
                and toekn=#{toekn,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
<!--auto generated by MybatisCodeHelper on 2021-09-17-->
  <select id="selectOneByBungieName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `user`
    where bungie_name=#{bungieName,jdbcType=VARCHAR}
  </select>
</mapper>